/*  Copyright 2014 Prateek Mathur
    
    Tic Tac Toe 3D is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Tic Tac Toe 3D is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Tic Tac Toe 3D. If not, see <http://www.gnu.org/licenses/>.
 */

header, footer	{
	text-align : center;
	background : #D3E3E8; 
	font-family : "Cambria", Times, serif;
}

body	{
	padding : 0px;
	margin : 0px;
}

#board	{
	margin: 1em;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: center;
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: center;
	display: box;
	box-orient: vertical;
	box-align: center;
	font-family: "Calibri", Times, serif;
}

img	{
	height : 8em;
	width : 8em;
}

#gameResult	{
	font-size : 3em;
	font-family : "Calibri", Times, serif;
}

/* Board styles */
table {
	text-align: center;
	padding: 5pt 0pt;
	border-spacing: 0pt;
}

td {
	width: 8em;
	height: 8em;
	border: 2pt solid #000;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	transition: all .1s;
}

td:hover {
	background: #D3E3E8;
}

td:active {
	background: #CFF4FF;
}

td.noTop {
	border-top: 0pt;
}

td.noLeft {
	border-left: 0pt;
}

td.noRight {
	border-right: 0pt;
}

td.noBottom {
	border-bottom: 0pt;
}